* {
  line-height: 1.0;
  font-family: 'Roboto', sans-serif;
}
div { box-sizing: border-box; }
a { text-decoration: none; }

body {
  height: 100%;
  background-color: #191B22;
  color: #FFFFFF;
  margin: 0;
}
.wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
}
.container {
  width: 285px;
  height: calc(100% - 20px);
  margin: 10px;
  margin-left: 0;
}

.icon-home {
  background-image: url('/img/home.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.icon-asterisk {
  background-image: url('/img/asterisk.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 20px center;
}

.user-icon {
  width: 48px;
  height: 48px;
  background-color: #D9E1E8;
  border-radius: 5px;
}

.myself-container {
  margin-left: 10px;
  padding: 10px;
  background-color: #444B5D;
}

.myself {
  display: flex;
}
.myself .user-icon {
  width: 40px;
  height: 40px;
}
.myself .user-name {
  padding-left: 8px;
  line-height: 20px;
  font-size: 13px;
  font-weight: bold;
}
input[type='file'] {
  margin: 10px 0;
}
.toot-button-container {
  text-align: right;
}
.toot-button {
  height: 36px;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  background-color: #2588D0;
  line-height: 36px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}


textarea {
  width: 100%;
  height: 110px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.toot-container {
  background-color: #FFFFFF;
}
.toot-container .label {
  width: 100%;
  padding: 15px;
  padding-left: 43px;
  background-color: #313543;
  font-size: 16px;
  color: #ffffff;
}
.toot-container .contents {
  height: calc(100% - 47px);
  overflow-y: scroll;
}

.toot-item {
  display: flex;
  padding: 8px 10px;
  border-bottom: 1px solid #393f4f;
  background-color: #282c37;
  cursor: default;
}
.toot-item .right-container {
  padding-left: 10px;
}
.toot-item .user-name {
  line-height: 18px;
  font-size: 15px;
  color: #FFFFFF;
}
.toot-item .login-name {
  font-size: 14px;
  color: #606984;
}
.toot-item .text {
  margin: 0;
  line-height: 20px;
  font-size: 15px;
  color: #FFFFFF;
}
.toot-item img {
  width: 100%;
}

.about-container {
  background-color: #282c37;
}

.about-container .label {
  width: 100%;
  padding: 15px;
  padding-left: 43px;
  background-color: #313543;
  font-size: 16px;
  color: #ffffff;
}

.about-container .contents {
  height: calc(100% - 47px);
  overflow-y: scroll;
}

.contents p {
  padding: 10px;
  line-height: 17px;
  font-size: 13px;
  color: #d9e1e8;
}
