* {
  line-height: 1.0;
  font-family: 'Roboto', sans-serif;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  background-color: #191B22;
  color: #FFFFFF;
  margin: 0;
}

.wrapper {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.container {
  width: 285px;
  height: calc(100% - 20px);
  margin: 10px;
  margin-left: 0;
}

.user-icon {
  width: 48px;
  height: 48px;
  background-color: #D9E1E8;
  border-radius: 5px;
}

.myself-container {
  margin-left: 10px;
  padding: 10px;
  background-color: #444B5D;
}

.myself {
  display: flex;
}

.myself .user-icon {
  width: 40px;
  height: 40px;
}

.myself .user-name {
  padding-left: 8px;
  line-height: 20px;
  font-size: 13px;
  font-weight: bold;
}

input[type='file'] {
  margin: 10px 0;
}

.toot-button-container {
  text-align: right;
}

.toot-button {
  height: 36px;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  background-color: #2588D0;
  line-height: 36px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 110px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.toot-container {
  background-color: #282c37;
}

.toot-container .contents {
  height: calc(100% - 47px);
  overflow-y: scroll;
}

.about-container {
  background-color: #282c37;
}

.label {
  width: 100%;
  padding: 15px;
  background-color: #313543;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.label .label-icon{
  margin-right: 10px;
}

.about-container .contents {
  height: calc(100% - 47px);
  overflow-y: scroll;
}

.contents p {
  padding: 10px;
  line-height: 17px;
  font-size: 13px;
  color: #d9e1e8;
}
.toots{
  background-color: red;
}
.toot-user-icon img{
  width:50px;
  height:50px;
  border-radius: 4px;
}

.toot-user{
  display: flex;
  padding-bottom: 10px;
}
.toot{
  padding:10px;
}
.toot-user-name{
  padding-left: 5px;
}
.toot-user-id{
  padding-left: 5px;
  color:gray;
}
.toot-text{
  padding-bottom:10px;
}
.toot-image img{
  width:100%;
  border-radius: 4px;
}
